<div class="col-3">
  <ul class="nav flex-column mt-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/authors">Authors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Disabled</a
      >
    </li>
  </ul>
  <ul class="nav flex-column mt-5">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/book/create"
        >Create New Book</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bookinstance/create">Create Book Instance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/author/create">Create New Author</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/genre/create">Create New Genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/create">Create New User</a>
    </li>
  </ul>
</div>
