<%- include("../partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../partials/sidebar.ejs"); %>
    <div class="col-9">
      <h1 class="text-center">
        This is the <span class="text-danger">Dashboard</span>
      </h1>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
